@charset "ISO-8859-1";

#add-button {
  width: 50%;
    padding: 10px;
    background-color: rgb(114, 201, 214);
    color: rgb(229, 146, 11);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
 
#body
{
   background-color: rgb(139, 197, 197);
}

  #view-button {
    width: 50%;
    padding: 10px;
   
    border: none;
    cursor: pointer;
  }
  #view
  {
    background-color: rgb(114, 201, 214);
    width: 50%;
    padding: 10px;
    color: rgb(229, 146, 11);
    border: none;
    cursor: pointer;
  }